<!--! I want this html to be used in layouts/boilerplate ejs file   -->
<% layout('layouts/boilerplate') %>
<h1>Heres the details for <%= campground.title %>
</h1>
<ul>
    <li>
        Location: <%= campground.location %>
    </li>
</ul>
<p>

    <a href="/campgrounds/<%=campground._id  %>/edit">Edit</a>
</p>
<p>

<form action="/campgrounds/<%=campground._id  %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
</p>
<footer>
    <a href="/campgrounds">All Campgrounds</a>

</footer>
